<%- include header %>
<!-- Main component for a primary marketing message or call to action -->
<!--<script type="text/javascript">
    // $(document).ready(function () {
        $('#table_word_list').DataTable();
    // });
</script>-->
<form class="form-inline" role="form" method="get" action="/word_list">
    <div class="input-group">
        <input type="radio" name="word_list_type" id="type_all" value="all"> 所有 </input>
    </div>
    <div class="input-group">
        <input type="radio" name="word_list_type" id="type_learnt" value="learnt"> 已学过 </input>
    </div>
    <div class="input-group">
        <input type="radio" name="word_list_type" id="type_known" value="known"> 已掌握 </input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">查看单词表</button>
    </div>
</form>
<!--<div data-spy="scroll" data-target="#table_word_list" data-offset="50" class="table-responsible">-->
<% if (type) { %>
<table id="table_word_list" class="table table-condensed display" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>单词</th>
            <th>释义</th>
            <th>例句</th>
        </tr>
    </thead>
    <!--<tbody>
        <% /*words.forEach(function(word) { %>
        <tr>
            <td> <%= word.id %> </td>
            <td> <%= word.word %> </td>
            <td> 
                <% word.meaning.forEach(function(meaning) { %>
                    <%= meaning %> <br/>
                <% }) %>
            </td>
            <td> 
                <% word.example.forEach(function(example) { %>
                    <%= example.sentence %> <br/>
                    <%= example.explanation %> <br/>
                <% }) %>
            </td>
        </tr>
        <% })*/ %>
    </tbody>-->
</table>
<% } %>
<script type="text/javascript">
    $(document).ready(function () {
        if ("<%= type %>" == 'all') {
            $('#type_all').prop("checked", true);
        } else if ("<%= type %>" == 'learnt') {
            $('#type_learnt').prop("checked", true);
        } else if ("<%= type %>" == 'known') {
            $('#type_known').prop("checked", true);
        }
        if ("<%= type %>") {
            $('#table_word_list').DataTable({
                // processing: true,
                // serverSide: true,
                ajax: {
                    url: '/word_list/data?type=' + "<%= type %>",
                    type: 'GET',
                    /*dataFilter: function(data) {
                        var json = jQuery.parseJSON(data);
                        json.recordsTotal = json.length;
                        json.recordsFiltered = 10; // json.length;
                        json.data = json.list;
                        return JSON.stringify(json); // return JSON string
                    }*/
                },
                language: {
                    "decimal": "",
                    "emptyTable": "空表无数据",
                    "info": "第 _PAGE_ 页，共 _PAGES_ 页，共 _TOTAL_ 条记录",
                    "infoEmpty": "无记录",
                    "thousands": "",
                    "lengthMenu": "每页 _MENU_ 个单词",
                    "loadingRecords": "载入中……",
                    "processing": "数据处理中……",
                    "search": "搜索：",
                    "zeroRecords": "未找到任何记录",
                    "paginate": {
                        "first": "第一页",
                        "last": "最后一页",
                        "next": "下一页",
                        "previous": "上一页"
                    },
                    "aria": {
                        "sortAscending": ": 点击升序排列",
                        "sortDescending": ": 点击降序排列",
                    },
                    // "infoFiltered": "(filtered from _MAX_ total records)"
                },
                ordering: false,
            });
        }
    });
</script>
<!--</div>-->
<%- include footer %>